@charset "ISO-8859-1";
.dropbtn {
  background-color: #2857F6;
  color: white;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  font-family: cursive;
  font-weight: bold;
  
 
}
